@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Rubik:wght@300;400;500;600&family=Sora&family=Ubuntu:ital,wght@0,400;0,500;1,300;1,400&display=swap');

* {
    text-decoration-line: none;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Rubik', sans-serif;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    z-index: 1;
}


nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    /* font-size: 1rem; */
    z-index: 1;
    padding: 1rem;
}

nav h4 a {
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 5rem;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 3px;
    border-color: rgb(255, 255, 255);
    transition: color 0.3s ease;
    text-wrap: nowrap;
}

nav ul li a:hover {
    color: rgb(169, 135, 255);

}


nav .menu-button {
    font-family: 'Poppins', sans-serif;

}

/* /Header */

/* Main Content */

main {
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    gap: 10rem;
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


main ul {
    list-style: none;
}

section {
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-wrap: nowrap;
    overflow: hidden;
    padding: 7rem;
    text-wrap: wrap;

}

img {
    border-radius: 20%;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Contact page */

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(to bottom, rgba(199, 193, 193, 0.974), rgba(183, 158, 158, 0.9));
    border-radius: 5%;
    padding: 5%;
    margin: 6rem;

}

form input {
    text-align: right;
    text-decoration: none;
    border: 1px solid;
    border-radius: 3px;
    margin-bottom: 5%;
    margin: 3%;
    padding: 3%;

}

form button {
    border: 0;
    width: 40%;
    height: 40px;
    cursor: pointer;
    background-color: rgb(19, 86, 109);
    color: white;
    font-weight: 400;
    font-size: large;
    border-radius: 10%;
}

select {
    text-align: right;
}



/* /Contact page */



/* /Main Content */


footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    gap: 1rem;
    bottom: 0px;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to bottom, rgba(249, 249, 249, 0.974), rgba(221, 184, 184, 0.9));
}

footer a,
#ContactPage {
    color: black;
    font-weight: 600;
    transition: color 0.3s ease;
    font-family: 'Rubik', sans-serif;

}

footer a:hover #ContactPage {
    color: rgb(248, 9, 9);

}

/* Media query for screens with a width between 769 pixels and 870 pixels */
@media only screen and (max-width: 870px) {

    section {
        font-size: 1.6rem;
        margin-bottom: 10rem;

    }
}

@media only screen and (max-width: 660px) {

    /* Style to hide the specific nav item */
    nav {
        font-size: 5px;
    }



    /* Other styles for screens up to 680px wide if needed */
}

@media only screen and (max-width: 740px) {
    nav {
        font-size: 15px;
    }


}



@media only screen and (max-width: 400px) {
    section {
        font-size: 0.8rem;
    }

    footer {
        text-wrap: wrap;
    }

    nav ul {
        gap: 1rem;
    }

    nav ul a {
        font-size: 0.6rem;
    }

    nav h4  a{
        font-size: 0.8rem;
    }


}